<%- include("page_top.ejs") %>
<main>
    <p>Select Worker:
        <select id="SelectWorkers"></select>
    </p>
    <br>
    <button id="Checkin">Entry</button>
    <button id="Checkout">Exit</button>
    <br><br>
</main>
<script src="checkin_crud.js"></script>
<%- include("page_bottom.ejs") %>
